<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GetNearestStation</servlet-name>
        <servlet-class>com.marjerbic.iot.GetNearestStation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStreamData</servlet-name>
        <servlet-class>com.marjerbic.iot.GetStreamData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetObservationData</servlet-name>
        <servlet-class>com.marjerbic.iot.GetObservationData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSensorData</servlet-name>
        <servlet-class>com.marjerbic.iot.GetSensorData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOwlData</servlet-name>
        <url-pattern>/StandardSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNearestStation</servlet-name>
        <url-pattern>/StationSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOntologyData</servlet-name>
        <url-pattern>/OntologySearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStreamData</servlet-name>
        <url-pattern>/StreamSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetObservationData</servlet-name>
        <url-pattern>/ObservationSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSensorData</servlet-name>
        <url-pattern>/SensorSearch</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
